body {
  margin: 20px !important;
  padding: 20px !important;
  box-sizing: border-box;
  background-color: rgba(240, 248, 255, 0.829);
}
@import url("../node_modules/font-awesome/css/font-awesome.min.css");
